body {
    font-family: Arial, Helvetica, sans-serif;
    background-position: center;
    background-color: aliceblue;
    margin: 0;
    display: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#reservationForm {
    background-color: aliceblue;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    width: 320px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

#paymentQRcode {
    text-align: center;
    display: none;
    margin-top: 20px;
}